<footer>
    <p>Made with love❤️</p>
    <div id="socials">
        <div class="socialIconContainer"><a href="https://www.instagram.com/2109_yuganshu_9012?igsh=MW14Mml1ZHAxdTk2aw=="><img class="socialIcon" src="instagram.png" alt=""></a></div>
        <div class="socialIconContainer"><a href="https://github.com/programmingenjoyer219"><img class="socialIcon" src="github.png" alt=""></a></div>
        <div class="socialIconContainer"><a href="https://www.linkedin.com/in/yuganshu-mohan-906b73274?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="socialIcon" src="linkedin.png" alt=""></a></div>
    </div>
</footer>