<%- include('header.ejs') %>

<body>
    <div id="oops-message-container">
        <div id="oops-message">
            <h1>OOPS!</h1>
            <p>We couldn't find the pokemon. Check for any spelling mistakes.</p>
            <p>Make sure you are searching for the pokemons available in this <a id="list-link" href="/list">list</a></p>
            <a href="/" id="oops-home-button">Home</a>
        </div>
    </div>
</body>

<%- include('footer.ejs') %>